<div class="container">
    <div class="typing-content">
        <span *ngFor="let item of typingContent; let i = index">
            <span  [style.color]="typingContent[i].current?'blue':'black'">{{item.khmer}}</span>  
        </span>
        <div >
            <progress style="width:100%" id="file" [value]="startIndex" [max]="typingContent.length">  </progress>
        </div>
    </div>
    <div class="typing-text-area">
        <p>វាយអក្សរ : {{this.displayCurrentAlphabet}} | បានបញ្ចូល: {{ this.currentinput}} | ខុស : {{ this.typingContent[startIndex]?.inCorrectCount}}</p>
        <h4>{{announceResult}}</h4>
        <button *ngIf="announceResult!==''" (click)="restartTyping()">Restart</button>
        <input style="font-family: Kantumruy" *ngIf="announceResult===''" type="text" [formControl]="textAreaControl" placeholder="ចាប់ផ្ដើមត្រង់នេះ 🏁" [autofocus]="true">
    </div>
</div>