button{
    width: 135px;
    height: 40px;
    font-size: medium;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    font-family: Kantumruy;
    text-align: center;
}
input{
    width: 58%;
    height: 55px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
    border: none;
}
input:focus {
  outline: none;
  box-shadow: none;
  border: rgb(20, 137, 253) solid;
  padding: 1px;
  background: #ffff;
}
.input-container{
    color: #333;
    text-align: center;
}
.announce-result{
    text-align: center;
}
.visual-key-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .visual-key{
    width: 60%;
    justify-content: center;
    align-items: center;
    display: flex;
    }
    .right-hand{
        width: 20%;
        display: flex;
        align-items: center;
    }
    .left-hand{
        width: 20%;
        display: flex;
        align-items: center;
    }
}
