@import url('https://fonts.googleapis.com/css2?family=Kantumruy:wght@300&display=swap');
body{
    justify-content: center;
    display: flex;
    font-size: 22px;
    font-family: Kantumruy;
}
.container{
    width: 90vw;
    padding: 10px;
}
.play-screen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    .typing-content{
        width: 60%;
        justify-content: center;
    }
    .typing-text-area{
        width: 90vw;
        margin-bottom: 10px;
        bottom: 0;
        position: fixed;
    }
}
input{
    width: 100%;
    height: 30px;
}
input.placeholder {
    font-family: Kantumruy; 
}
// svg {
//     height: 50%;
//     width: 50%;
//     background-color: aliceblue !important;
//   }
