@import url('https://fonts.googleapis.com/css2?family=Kantumruy:wght@300&display=swap');
body{
    justify-content: center;
    display: flex;
    font-size: 30px;
    font-family: Kantumruy;
}
input{
    width: 100%;
    height: 30px;
}
input.placeholder {
    font-family: Kantumruy; 
}